// Special
$tokyobg: #1a1b26;
$tokyofg: #a9b1d6;

// Blacks
$jet: #0a0b16;
$inkstone: #292e42;
$slate: #545c7e;
$graphite: #3b4261;

// Whites
$white: #d0daff;
$porcelain: #737aa2;
$silk: #0a0b16;
$warm_gray: #a9b1d6;
$ash: #565f89;

// Purples
$aubergine: #9d7cd8;
$purple: #9d7cd8; 
$light_aubergine: #bb9af7;
$mid_aubergine: #3b4261;
$dark_aubergine: #1a1b26;

// Reds
$red: #f7768e;

// Oranges
$orange: #ff9e64;

// Yellows
$yellow: #e0af68;

// Greens
$green: #9ece6a;

// Blues
$blue: #7aa2f7;
$linkblue: #7dcfff;
$darkblue: #565f89;


// Semantic colors
$primary_accent_bg_color: $orange;
$primary_accent_fg_color: $white;
$secondary_accent_bg_color: $light_aubergine;
$secondary_accent_fg_color: $white;
