// Special
$onedarkbg: #282c34;
$onedarkfg: #abb2bf;

// Blacks
$jet: #181a1f;
$inkstone: #3e4452;
$slate: #2b323e;
$graphite: #282a1f;

// Whites
$white: #abb2bf;
$porcelain: #7c8790;
$silk: #6c7a80;
$warm_gray: #5c6370;
$ash: #4b5263;

// Purples
$aubergine: #6c71c4;
$purple: #c678dd; 
$light_aubergine: #7c81d4;
$mid_aubergine: #5c61b4;
$dark_aubergine: #4c51a4;

// Reds
$red: #e06c75;

// Oranges
$orange: #d19a66;

// Yellows
$yellow: #e5c07b;

// Greens
$green: #98c379;

// Blues
$blue: #61afef;
$linkblue: #56c6c2;
$darkblue: #418fcf;


// Semantic colors
$primary_accent_bg_color: $inkstone;
$primary_accent_fg_color: $onedarkfg;
$secondary_accent_bg_color: $light_aubergine;
$secondary_accent_fg_color: $onedarkfg;
